h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  @include breakpoint(large up) {
    font-weight: 400;
  }

}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}

.quiet {
  font-size: 80%;
}

.title-bar {
  box-shadow: 0 0 10px rgba(138, 138, 138, 0.3);

  .title-bar-right {
    flex: 2 1 0px;
  }

  .title-bar-title {
    font-weight: 800;
  }
}

table thead th, table.dataTable thead th {
  padding: 0;
  line-height: 1;
}
table th, table td {
  font-size: 12px;
}

.flag {
  display: inline-block;
  width: 24px; 
  margin: 0 2px;
}

table thead th.rotate {
  /* Something you can count on */
  height: 150px;
  white-space: nowrap;
}

th.rotate > div {
  margin-top: 90px;
  width: 30px;
  transform: 
    /* Magic Numbers */
    translate(-10px, 5px)
    /* 45 is really 360 - 45 */
    rotate(295deg);
}
th.rotate > div > span {
  padding: 5px 0;
}

#roster .player {
  display: inline-block;
  margin: 4px;
}